/* reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

.txt-hide { 
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 로고 */
.img-logo {
    display: block;
    width: 166px;
    margin: 0 auto;
}

/* 콜라 리스트 */
.box-cola {
    text-align: center;
}

.container-cola {
    display: inline-block;
    width: 94px;
    margin: 0 12px 12px 0;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-cola:hover,
.container-cola:focus {
    outline: 3px solid #6327fe;
}

.txt-cola {
    display: block;
    margin: 82px 10px 7px 11px;
    font-size: 9px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
}

.price-cola {
    width: 70px;
    margin: 0 11px 9px 13px;
    padding: 5px 16px 5px 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    background-color: #6327fe;
    border: none;
    border-radius: 50px;
}

.original {
    background-image: url(./img/Original_Cola.svg);
    background-repeat: no-repeat;
    background-size: 35px 64px;
    background-position: 29px 12px;
}


.violet {
    background-image: url(./img/Violet_Cola.svg);
    background-repeat: no-repeat;
    background-size: 35px 64px;
    background-position: 29px 12px;
}

.yellow {
    background-image: url(./img/Yellow_Cola.svg);
    background-repeat: no-repeat;
    background-size: 35px 64px;
    background-position: 29px 12px;
}

.cool {
    background-image: url(./img/Cool_Cola.svg);
    background-repeat: no-repeat;
    background-size: 35px 64px;
    background-position: 29px 12px;
}

.green {
    background-image: url(./img/Green_Cola.svg);
    background-repeat: no-repeat;
    background-size: 35px 64px;
    background-position: 29px 12px;
}

.orange {
    background-image: url(./img/Orange_Cola.svg);
    background-repeat: no-repeat;
    background-size: 35px 64px;
    background-position: 29px 12px;
}

.sold-out {
    display: inline-block;
    width: 94px;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
}

.sold-out::before {
    content: url(./img/Sold-out.svg);
    position: absolute;
    top: 22px;
    left: 15px;
}

/* 잔액, 거스름돈, 선택 음료 */
.container-balance-return {
    display: flex;
}

.container-balance {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px 12px 11px 27px;
    padding: 6px 10px 7px 10px;
    background-color: #eae8fe;
    border: none;
    border-radius: 5px;
}

.txt-balance, .money-balance {
    line-height: 1.4;
}

.btn-return {
    margin: 20px 27px 11px 7px;
    height: 35px;
}

.btn-money {
    margin: 0 0 8px 4px;
}

.btn-return,
.btn-money {
    width: 94px;
    padding: 6px 8px 8px 8px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
}

.container-pick-get {
    display: flex;
}

.btn-get {
    width: 94px;
    height: 106px;
    margin: 12px 25px 0 5px;
    padding: 43px 35px 44px 35px;
    background-color: #6327fe;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
}

.inp-money {
    display: inline-block;
    width: 200px;
    margin: 0 12px 0 27px;
    padding: 7px 9px 7px 127px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
    text-align: right;
}

.box-pick {
    display: inline-block;
    margin: 11px 12px 20px 27px;
    width: 200px;
    height: 106px;
    background-color: #eae8fe;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.container-pick {
    width: 170px;
    padding: 10px 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #fff;
}

.item-pick {
    display: inline-block;
    font-size: 9px;
    font-weight: 500;
    line-height: 1.4;
}

.item-get::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 33px;
    background-image: url(./img/Original_Cola.svg);
    background-repeat: no-repeat;
    background-size: 18px 33px;
}

.container-mymoney {
    width: 306px;
    margin: 0 27px 41px 27px;
    display: flex;
    justify-content: space-between;
    padding: 6px 10px 7px 10px;
    background-color: #eae8fe;
    border: none;
    border-radius: 5px;
}

.txt-mymoney, .money-mymoney {
    line-height: 1.4;
}

/* 획득한 음료 */
.title-get {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
}

.box-get {
    display: inline-block;
    margin: 11px 12px 20px 27px;
    width: 306px;
    background-color: #eae8fe;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.container-get {
    width: 170px;
    padding: 10px 10px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    background-color: #fff;
}

.container-amount {
    margin: 6px 20px 43px 245px;
}

.txt-amount, .money-amount {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4;
}